<div class="card">
    <h1>Messenger</h1>

    <h5>Discount Popup</h5>
    <form action="" method="post">
        <div class="row">
            <label>Text</label>
            <input type="text" name="text" />
        </div>
        <div class="row">
            <label>Subscribed text</label>
            <input type="text" name="subscribed-text" value="Your discount code has been sent to your FB messenger! Get it and enjoy saving shopping now!">
        </div>
        <div class="row">
            <label>Coupon button</label>
            <input type="text" name="coupon-button" value="Inbox My Discount Code Now" />
        </div>
        <div class="row">
            <button type="submit">Save</button>
        </div>
    </form>

    <h5>Add To Cart Widget</h5>
    <form action="" method="post">
        <div class="row">
            <label>Title</label>
            <input type="text" name="title" value="Get 10% off from your order" />
        </div>
        <div class="row">
            <label>Discount text</label>
            <input type="text" name="discount-text" value="Your discount code:" />
        </div>
        <div class="row">
            <label>Discount code (Create it in Shopify Admin - Discounts)</label>
            <input type="text" name="discount-code" value="MFB10" />
        </div>
        <div class="row">
            <label>Coupon button</label>
            <input type="text" name="coupon-button" value="Get Your Discount" />
        </div>
        <div class="row">
            <button type="submit">Save</button>
        </div>
    </form>
</div>